{{> head }}
    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>Leones</h1>
            <div class="list-group">
                <a href="#" class="list-group-item active">Datos curioso de los Leones</a>
                <a href="#" class="list-group-item">ºUna estructura social compleja</a>
                <a href="#" class="list-group-item">ºEl segundo gato más grande</a>
                <a href="#" class="list-group-item">ºLos leones no viven en la selva</a>
                <a href="#" class="list-group-item">ºLos leones no viven en la selva</a>
                <a href="#" class="list-group-item">ºLos leones no viven en la selva</a>
                <a href="#" class="list-group-item">ºLas hembras viven juntas de por vida</a>
                <a href="#" class="list-group-item">ºEl rugido más ruidoso</a>
            </div>
        </div>

        <div class="col-4">
            <img src="assets/img/leon.jpeg" class="img-circle">
        </div>
    </div>
{{> footer }}